body {
  margin: 0;
  background-color: #2D2D2D;
}

.app {
  width: 100%;
  font-family: "Roboto";
}

.logo {
  pointer-events: none;
  user-select: none;
  padding-left: 140px;
}

.appHeader {
  display: flex;
  flex-direction: row;
  height: 140px;
  align-items: center;
  justify-content: space-between;
}