body {
  margin: 0;
  background-color: #2D2D2D;
}

footer {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto";
}

.appBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
}

.appHeader {
  display: flex;
  flex-direction: row;
  height: 8rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #2D2D2D;
  position: fixed;
  top: 0;
  z-index: 100;
}

.appFooter {
  display: flex;
  flex-direction: row;
  background-color: #212121;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: #ffffff;
}

.changeLanguage {
  justify-content: center;
}

.copyright {
 justify-content: end;
}

.headline {
  width: 405px;
  height: 260px;
  color: #ffffff;
  font-size: 92px;
  z-index: 200;
  position: fixed;
  top: 14%;
  left: 7%;
}

.logo {
  pointer-events: none;
  user-select: none;
  padding-left: 7%;
}

.rectangle {
  width: 15px;
  padding-left: 12.2%;
  position: absolute;
  z-index: 200;
}

