body {
  margin: 0;
  background-color: #2D2D2D;
}

.app {
  width: 100%;
  font-family: "Roboto";
}

.logo {
  pointer-events: none;
  user-select: none;
  padding-left: 185px;
}

.appHeader {
  display: flex;
  flex-direction: row;
  height: 140px;
  align-items: center;
  justify-content: space-between;
}

.rectangle {
  padding-left: 350px;
  position: absolute;
}

.appFooter {
  display: flex;
  flex-direction: row;
  background-color: #2D2D2D;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  color: #ffffff;
}